:root {
  --text: #ffffff;
  --bg: #16171d;
  --border: #2e303a;
  --border-active: #656980;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: #3E2F4C;
  --accent-border: #B093C2;
  --social-bg: #25262E;
  --red: #FF0000;
  --error-bg:#3D0000;
  --error: #e74c3c;
  --thr-bg: #0022ff07;
  --basic: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  font-family: var(--basic);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
#root {
  width: 100%;
  max-width: 100%;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 20px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 18px;
  }
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
input{
  flex: 1;
  background: none;
  border: none;
  outline: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
}

thead tr {
  border-bottom: 1px solid var(--border);
  background-color: var(--thr-bg);
}

th {
  padding: 16px 20px;
  color: var(--text);
  font-weight: 500;
}

tbody tr {
  border-bottom: 1px solid var(--border);
}

td {
  padding: 16px 20px;
}


